<div class="jumbotron text-center">
  <h1 class="display-3">{{title}}</h1>
  <p class="lead">Registre e descreva seus cachorros</p>
  <a href="/cachorros.add" class='btn btn-dark btn-lg'> Adicione seu cachorro</a>
</div>